body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}
.redExample1 {
  width: 40px;
  height: 40px;
  margin: auto;
  /* можно ведь и без низ просто оставив margin*/
  justify-content: center;
  align-items: center;
  background-color: red;
}
.greenRow {
  height: 20px;
  margin-top: 20px;
  width: 100%;
  background-color: green;
}
.redExample2 {
  width: 80px;
  background-color: red;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

.blueExample3 {
  width: 20px;
  background-color: blue;
}

.orangeWrapper {
  display: flex;
  height: 60px;
  background-color: orange;
  margin-bottom: 20px;
}

.orangeFixed {
  width: 80px;
  height: parent;
  display: block;
  background-color: orange;
  justify-content: space-evenly;
}
.orangeExample {
  width: 80px;
  flex: 1;
  background-color: orange;
}

.greenFixed {
  width: 80px;
  height: parent;
  display: block;
  background-color: green;
  justify-content: space-evenly;
}

.emptyExample2Fixed {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}
